@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  body {
    -webkit-text-size-adjust: none; /* none for no scaling */
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  body {
    -webkit-text-size-adjust: none; /* none for no scaling */
  }
}
@media (max-width: 414px) {
  /* layout -> Container */
  .container {
    width: 100%;
    max-width: 414px !important;
    padding: 0 6px;
  }
}
@media (max-width: 500px) {
  /* Layout -> Header */
  .header-container {
    padding: 6px 0;
  }
  .search-box-content input[type="search"] {
    padding: 15px;
  }
  .search-box-content input[type="submit"] {
    padding: 10px 20px;
  }
  .align-left,
  img.align-left,
  figure.align-left,
  .align-right,
  img.align-right,
  figure.align-right,
  .align-center,
  img.align-center,
  figure.align-center {
    clear: both;
    margin: 0 auto;
    float: none;
  }
  /* Layout -> Sidebar */
  .home-slider h1,
  .home-slider h2,
  .home-slider h3 {
    font-size: 1.6rem;
  }
  /* Homepage -> Slider */
  .home-slider p {
    display: block;
    margin-bottom: 6px;
    font-size: 1.1rem;
  }
  /* Layout -> Sidebar */
  .sidebar,
  #sidebar-left,
  #sidebar-right,
  .two-sidebar #sidebar-left {
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  /* Footer */
  .footer-blocks {
    flex-direction: column;
  }
  .footer-block {
    flex: 1 1 100%;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 1.6em;
  }
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
  /* Layout -> Column */
  .one_four,
  .one_four_first,
  .one_four_last {
    width: 50%;
    padding: 2%;
  }
  /* Homepage -> Slider */
  .home-slider h1,
  .home-slider h2,
  .home-slider h3 {
    font-size: 2rem;
  }
  .home-slider p {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  /* Sidebar */
  .sidebar,
  #sidebar-left,
  #sidebar-right,
  .two-sidebar #sidebar-left {
    float: left;
    width: 50%;
    height: 100%;
    margin: 0;
  }
  #sidebar-left {
    float: left;
    padding: 0 1% 0 0;
  }
  #sidebar-right {
    float: right;
    padding: 0 0 0 1%;
  }
  /* Footer */
  .footer-block {
    flex: 1 1 50%;
    width: 50%;
    max-width: 50%;
    margin-bottom: 1.6em;
  }
  .footer-block:nth-child(even) {
    padding: 0;
  }
  .footer-block {
    padding-right: 1.6em;
  }
}
@media screen and (max-width: 767px) {
  /* Admin tabs */
  .page-tabs li {
    font-size: 0.9rem;
  }
  .page-tabs li a {
    padding: 2px 4px;
    border-right: 1px solid #ffffff;
  }
  /* Layout -> Header -> Header top*/
  .header-top-container {
    flex-direction: column;
  }
  .header-top-left {
    margin-bottom: 6px;
  }
  .header-top-left i,
  ul.social-icons li {
    font-size: 0.8rem;
  }
  .header-top-left i,
  ul.social-icons li a {
    width: 30px;
    height: 30px;
  }
  .search-icon {
    padding: 10px 0 10px 10px;
  }
  .search-box-content {
    width: 90%;
  }
  .main-menu {
    display: none;
  }
  .active-menu .main-menu {
    display: block;
  }
  .mobile-menu {
    display: block;
    float: right;
  }
  .menu-wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 90%;
    max-width: 320px;
    height: 100%;
    z-index: 100;
    transform: translateX(-100%);
    transition: all 0.4s ease;
    padding-top: 30px;
  }
  .active-menu .menu-wrap {
    background: rgba(0, 0, 0, 0.9);
    transform: translateX(0);
  }
  .active-menu .menu-wrap ul.main-menu {
    overflow-y: scroll;
  }
  .active-menu .menu-wrap ul.main-menu > li {
    display: block;
    float: none;
  }
  .active-menu .menu-wrap ul.main-menu a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
  }
  .active-menu .menu-wrap .dropdown-arrow {
    position: absolute;
    right: 10px;
  }
  .active-menu ul.main-menu ul.submenu {
    position: relative;
    display: block;
    top: 0;
    opacity: 1;
  }
  .active-menu ul.main-menu ul.submenu::before,
  .active-menu ul.main-menu ul.submenu::after {
    content: "";
    display: table;
    clear: both;
  }
  .active-menu ul.main-menu ul.submenu li {
    position: relative;
    width: 100%;
    padding: 0 10px;
    background: none;
    text-align: right;
  }
  .active-menu ul.main-menu ul.submenu li a {
    display: block;
    width: 100%;
  }
  .active-menu ul.main-menu li a {
    border-bottom: 1px solid #434343;
  }
  .active-menu .close-mobile-menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 5px;
  }
  .owl-item {
    text-align: center;
  }
  /* Breadcrumb */
  #breadcrumb {
    padding: 6px 0;
  }
  .breadcrumb {
    font-size: 0.8rem;
  }
  .breadcrumb-item-seperator {
    margin: 0 6px;
  }
  /* Layout -> Page layout */
  .no-sidebar .main-container,
  .sidebar-left .main-container,
  .sidebar-right .main-container,
  .two-sidebar .main-container {
    grid-template-columns: 100%;
  }
  #main {
    order: 1;
  }
  #sidebar-left {
    order: 2;
  }
  #sidebar-right {
    order: 3;
  }
  /* Node Content */
  .page-title-wrap {
    padding: 16px 0;
  }
  .page-title-wrap h1.page-title {
    font-size: 1.6rem;
  }
  #node-comment .indented {
    margin-left: 20px;
  }
  /* Layout -> Footer */
  #footer {
    position: relative;
    z-index: 2;
  }
  .footer-bottom-middle {
    flex-direction: column;
  }
  .copyright {
    margin-bottom: 12px;
  }
  /* Content -> Form */

  /* Homepage */
  .service,
  .project {
    float: none;
    width: 100%;
    max-width: 385px;
    margin: 0 auto 20px auto;
    padding: 4% 2%;
  }
}
/* ipad pro, Small Devices, Tablets
------------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 100%;
    max-width: 991px;
  }
}
@media (min-width: 768px) {
  .view-in-mobile {
    display: none;
  }
  .view-in-desktop {
    display: block;
  }
  /* shortcodes -> content width */
  .width30 {
    width: 30%;
  }
  .width40 {
    width: 40%;
  }
  .width50 {
    width: 50%;
  }
  .width60 {
    width: 60%;
  }
  .width70 {
    width: 70%;
  }
  .width80 {
    width: 80%;
  }
  .width90 {
    width: 90%;
  }
  /* shortcodes -> responsive column */
  .w10 {
    flex-basis: calc(10% - 10px);
  }
  .w20 {
    flex-basis: calc(20% - 10px);
  }
  .w30 {
    flex-basis: calc(30% - 10px);
  }
  .w40 {
    flex-basis: calc(40% - 10px);
  }
  .w50 {
    flex-basis: calc(50% - 10px);
  }
  .w60 {
    flex-basis: calc(60% - 10px);
  }
  .w70 {
    flex-basis: calc(70% - 10px);
  }
  .w80 {
    flex-basis: calc(80% - 10px);
  }
  .w90 {
    flex-basis: calc(90% - 10px);
  }
}
/* Medium Devices, Laptop, Desktop
------------------------------------------------- */
@media only screen and (min-width: 992px) and (max-width: 1170px) {
  .container {
    width: 100%;
    max-width: 1170px;
  }
}
/* Screen widger than container
------------------------------------------------- */
@media screen and (min-width: 1170px) {
  .container {
    width: 100%;
    max-width: 1170px;
  }
}
