/* Fonts
---------------------------------------- */
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans.woff2') format('woff2'),
       url('../fonts/open-sans.woff') format('woff')
       url('../fonts/open-sans.ttf') format('truetype');
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto.woff2') format('woff2'),
       url('../fonts/roboto.woff') format('woff'),
       url('../fonts/roboto.ttf') format('truetype');
}
/* Poppins */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins'), local('Poppins'),
       url('../fonts/poppins.woff2') format('woff2'),
       url('../fonts/poppins.woff') format('woff'),
       url('../fonts/poppins.ttf') format('truetype');
}